* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

/* Conteneur pour l'animation de fond */
.container {
  position: absolute;
  inset: 0;
  z-index: -1;
  --c: 7px;
  background-color: #000;
  background-image: radial-gradient(
      circle at 50% 50%,
      #0000 1.5px,
      #000 0 var(--c),
      #0000 var(--c)
    ),
    radial-gradient(
      circle at 50% 50%,
      #0000 1.5px,
      #000 0 var(--c),
      #0000 var(--c)
    ),
    radial-gradient(circle at 50% 50%, #f00, #f000 60%),
    radial-gradient(circle at 50% 50%, #ff0, #ff00 60%),
    radial-gradient(circle at 50% 50%, #0f0, #0f00 60%),
    radial-gradient(ellipse at 50% 50%, #00f, #00f0 60%);
  background-size:
    12px 20.7846097px,
    12px 20.7846097px,
    200% 200%,
    200% 200%,
    200% 200%,
    200% 20.7846097px;
  --p: 0px 0px, 6px 10.39230485px;
  background-position:
    var(--p),
    0% 0%,
    0% 0%,
    0% 0px;
  animation:
    wee 40s linear infinite,
    filt 6s linear infinite;
}

@keyframes filt {
  0% {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes wee {
  0% {
    background-position:
      var(--p),
      800% 400%,
      1000% -400%,
      -1200% -600%,
      400% 41.5692194px;
  }
  to {
    background-position:
      var(--p),
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

/* Style de la calculatrice */
.calculator {
  width: 320px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(106, 16, 16, 0.1);
  padding: 20px;
  z-index: 1;
}

/* Input de la calculatrice */
input {
  width: 100%;
  height: 50px;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: #0f0;
}

/* Disposition des boutons */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Quatre colonnes égales pour les boutons */
  gap: 10px;
  margin-bottom: 20px; /* Espace sous la grille pour le bouton supplémentaire */
}

/* Style des boutons de calculatrice */
button {
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Effet au survol des boutons */
button:hover {
  background-color: #ddd;
}

/* Effet au clic des boutons */
button:active {
  background-color: #ccc;
}

/* Style du bouton extra (nouveau bouton ajouté) */
.extra-button {
  position: relative;
  font-family: 'Heebo', sans-serif;
  padding: 12px 40px;
  border: 0;
  background: #000000; /* Fond noir */
  color: #000000; /* Texte vert */
  font-weight: 500;
  font-size: 1em;
  border-radius: 8px;
  border-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 100%;
  grid-column: span 3; /* Le bouton occupe toute la largeur disponible */
}

/* Effet au survol du bouton extra */
.extra-button:hover {
  text-shadow: 0px 5px 10px rgba(0, 255, 0, 0.562); /* Effet de survol vert */
  transform: scale(1.01);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.575);
}

/* Animation du bouton au survol */
.extra-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 50%;
  height: 100%;
  transform: rotate(80deg);
  background: #00FF00; /* Fond vert pour l'effet */
  filter: blur(10px);
  transition: 0.6s ease-in-out;
}

/* Effet au survol du bouton extra */
.extra-button:hover::after {
  left: 100%;
}

/* From Uiverse.io by ilkhoeri */ 
.card {
  padding: 1rem;
  overflow: hidden;
  border: 1px solid #c5c5c5;
  border-radius: 12px;
  background-color: #d9d9d92f;
  backdrop-filter: blur(8px);
  min-width: 344px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 10;
  border: 0.5px solid #525252;
  border-radius: 8px;
  overflow: hidden;
}

.terminal {
  display: flex;
  flex-direction: column;

  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  min-height: 40px;
  padding-inline: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #202425;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 2.5rem;
  user-select: none;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #8e8e8e;
}

.title > svg {
  height: 18px;
  width: 18px;
  margin-top: 2px;
  color: #006adc;
}

.copy_toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: 0.65px solid #c1c2c5;
  margin-left: auto;
  border-radius: 6px;
  background-color: #202425;
  color: #8e8e8e;
  cursor: pointer;
}

.copy_toggle > svg {
  width: 20px;
  height: 20px;
}

.copy_toggle:active > svg > path,
.copy_toggle:focus-within > svg > path {
  animation: clipboard-check 500ms linear forwards;
}

.body {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow-x: auto;
  padding: 1rem;
  line-height: 19px;
  color: white;
  background-color: black;
  white-space: nowrap;
}

.pre {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-wrap: nowrap;
  white-space: pre;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
}

.pre code:nth-child(1) {
  color: #575757;
}

.pre code:nth-child(2) {
  color: #e34ba9;
}

.cmd {
  height: 19px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.cmd::before {
  content: attr(data-cmd);
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  animation: inputs 8s steps(22) infinite;
}

.cmd::after {
  content: "";
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  border-right: 0.15em solid #e34ba9;
  animation: cursor 0.5s step-end infinite alternate, blinking 0.5s infinite;
}

@keyframes blinking {
  20%,
  80% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}

@keyframes cursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes inputs {
  0%,
  100% {
    width: 0;
  }
  10%,
  90% {
    width: 58px;
  }
  30%,
  70% {
    width: 215px;
    max-width: max-content;
  }
}

@keyframes clipboard-check {
  100% {
    color: #fff;
    d: path(
      "M 9 5 H 7 a 2 2 0 0 0 -2 2 v 12 a 2 2 0 0 0 2 2 h 10 a 2 2 0 0 0 2 -2 V 7 a 2 2 0 0 0 -2 -2 h -2 M 9 5 a 2 2 0 0 0 2 2 h 2 a 2 2 0 0 0 2 -2 M 9 5 a 2 2 0 0 1 2 -2 h 2 a 2 2 0 0 1 2 2 m -6 9 l 2 2 l 4 -4"
    );
  }
}
